@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
/*place global styles here */
html,
body {
    @apply h-full;
}
.list li {
    margin: 0;
    border-radius: 0;
}
.list li > :not([hidden]) ~ :not([hidden]) {
    margin: 0;
}
